version: "3.3"

services:
  web:
    build: .
    ports:
      - "8888:8888"
    command: sh -c './wait-for neo4j:7687 -- python server.py'
    depends_on:
      - neo4j
  neo4j:
    image: neo4j
    ports:
      - "7474:7474"
      - "7373:7373"
      - "7687:7687"
    volumes:
      - data/neo4j:/data
    environment:
      - NEO4J_AUTH=neo4j/zhaohq5133