<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <title>KG Visualization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.bootcss.com/d3/4.12.0/d3.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/velocity/1.5.0/velocity.min.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dropdown.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/graph_d3.css">
    <script src="/static/js/semantic.min.js"></script>
    <script src="/static/js/dropdown.min.js"></script>

</head>
<body>
<div class="kg-graph">
    <svg width="0" height="0"></svg>
    <div class="tooltip" style="opacity: 0">
        <div class="tooltip-in">
            <div class="result-poster named-entity">
                <div class="result-img img-circle"><a></a></div>
            </div>
            <div class="result-definition">
                <h3><a class="title"></a></h3>
                <div class="line-clamp-3"><p class="des"></p></div>
            </div>
        </div>
    </div>
    <div class="navigation-bar"></div>
    <div class="legend" style="visibility: hidden;">
        <div class="li">
            <div class="circle small" style="background-color:#13a89e"></div>
            <div class="text">已知关系</div>
        </div>
        <div class="li">
            <div class="circle small" style="background-color:#5d3fd5"></div>
            <div class="text">潜在关系</div>
        </div>

    </div>
    <div class="nodes-history"></div>
    <div class="dummy"></div>
    <div class="dummy2"></div>
    <div class="predicate-filter" style="visibility: hidden;">
        <select class="" id="predicate-select" title="predicate select">
            <option value="">筛选关系</option>
        </select>
    </div>

</div>
<script src="/static/js/graph_d3.min.js"></script>
</body>
</html>